project_id = "guiuvgtexjehvmeefxqu"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322

[studio]
enabled = true
port = 54323

[inbucket]
enabled = true
port = 54324
smtp_port = 54325
pop3_port = 54326

[functions.avm-valuation]
verify_jwt = false

[functions.dubai-bot]
verify_jwt = false

[functions.property-search]
verify_jwt = false

[functions.property-sync]
verify_jwt = false

[functions.telegram-bot]
verify_jwt = false

[functions.web-scraper]
verify_jwt = false